
.r {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.r.reverse { flex-direction: row-reverse; }

/* column desktop */
.unit,
.cd,
.cd-1,
.cd-2,
.cd-3,
.cd-4,
.cd-5,
.cd-6,
.cd-7,
.cd-8,
.cd-9,
.cd-10,
.cd-11,
.cd-12,
.cd-offset-0,
.cd-offset-1,
.cd-offset-2,
.cd-offset-3,
.cd-offset-4,
.cd-offset-5,
.cd-offset-6,
.cd-offset-7,
.cd-offset-8,
.cd-offset-9,
.cd-offset-10,
.cd-offset-11,
.cd-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cd {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.cd-1, .unit {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.cd-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.cd-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.cd-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.cd-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.cd-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.cd-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.cd-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.cd-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.cd-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.cd-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.cd-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.cd-offset-0 {
  margin-left: 0;
}

.cd-offset-1 {
  margin-left: 8.33333333%;
}

.cd-offset-2 {
  margin-left: 16.6666666%;
}

.cd-offset-3 {
  margin-left: 25%;
}

.cd-offset-4 {
  margin-left: 33.33333333%;
}

.cd-offset-5 {
  margin-left: 41.66666667%;
}

.cd-offset-6 {
  margin-left: 50%;
}

.cd-offset-7 {
  margin-left: 58.33333333%;
}

.cd-offset-8 {
  margin-left: 66.66666667%;
}

.cd-offset-9 {
  margin-left: 75%;
}

.cd-offset-10 {
  margin-left: 83.33333333%;
}

.cd-offset-11 {
  margin-left: 91.66666667%;
}

.start-cd {
  justify-content: flex-start;
  text-align: start;
}

.center-cd {
  justify-content: flex-start;
  text-align: center;
}

.end-cd {
  justify-content: flex-end;
  text-align: end;
}

.top-cd {
  align-items: flex-start;
}

.middle-cd {
  align-items: center;
}

.bottom-cd {
  align-items: flex-end;
}

.around-cd {
  justify-content: space-around;
}

.between-cd {
  justify-content: space-between;
}

@media screen and (max-width: 1365px) {
  /* ac버전 column laptop */
  .unit,
.cl,
.cl-1,
.cl-2,
.cl-3,
.cl-4,
.cl-5,
.cl-6,
.cl-7,
.cl-8,
.cl-9,
.cl-10,
.cl-11,
.cl-12,
.cl-offset-0,
.cl-offset-1,
.cl-offset-2,
.cl-offset-3,
.cl-offset-4,
.cl-offset-5,
.cl-offset-6,
.cl-offset-7,
.cl-offset-8,
.cl-offset-9,
.cl-offset-10,
.cl-offset-11,
.cl-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .cl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .cl-1, .unit {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .cl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .cl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .cl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .cl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .cl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .cl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .cl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .cl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .cl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .cl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .cl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .cl-offset-0 {
    margin-left: 0;
  }

  .cl-offset-1 {
    margin-left: 8.33333333%;
  }

  .cl-offset-2 {
    margin-left: 16.6666666%;
  }

  .cl-offset-3 {
    margin-left: 25%;
  }

  .cl-offset-4 {
    margin-left: 33.33333333%;
  }

  .cl-offset-5 {
    margin-left: 41.66666667%;
  }

  .cl-offset-6 {
    margin-left: 50%;
  }

  .cl-offset-7 {
    margin-left: 58.33333333%;
  }

  .cl-offset-8 {
    margin-left: 66.66666667%;
  }

  .cl-offset-9 {
    margin-left: 75%;
  }

  .cl-offset-10 {
    margin-left: 83.33333333%;
  }

  .cl-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-cl {
    justify-content: flex-start;
    text-align: start;
  }

  .center-cl {
    justify-content: flex-start;
    text-align: center;
  }

  .end-cl {
    justify-content: flex-end;
    text-align: end;
  }

  .top-cl {
    align-items: flex-start;
  }

  .middle-cl {
    align-items: center;
  }

  .bottom-cl {
    align-items: flex-end;
  }

  .around-cl {
    justify-content: space-around;
  }

  .between-cl {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1023px) {
  /* ac버전 column tablet */
  .unit,
.ct,
.ct-1,
.ct-2,
.ct-3,
.ct-4,
.ct-5,
.ct-6,
.ct-7,
.ct-8,
.ct-9,
.ct-10,
.ct-11,
.ct-12,
.ct-offset-0,
.ct-offset-1,
.ct-offset-2,
.ct-offset-3,
.ct-offset-4,
.ct-offset-5,
.ct-offset-6,
.ct-offset-7,
.ct-offset-8,
.ct-offset-9,
.ct-offset-10,
.ct-offset-11,
.ct-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .ct {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .ct-1, .unit {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .ct-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .ct-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .ct-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .ct-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .ct-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .ct-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .ct-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .ct-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .ct-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .ct-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .ct-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .ct-offset-0 {
    margin-left: 0;
  }

  .ct-offset-1 {
    margin-left: 8.33333333%;
  }

  .ct-offset-2 {
    margin-left: 16.6666666%;
  }

  .ct-offset-3 {
    margin-left: 25%;
  }

  .ct-offset-4 {
    margin-left: 33.33333333%;
  }

  .ct-offset-5 {
    margin-left: 41.66666667%;
  }

  .ct-offset-6 {
    margin-left: 50%;
  }

  .ct-offset-7 {
    margin-left: 58.33333333%;
  }

  .ct-offset-8 {
    margin-left: 66.66666667%;
  }

  .ct-offset-9 {
    margin-left: 75%;
  }

  .ct-offset-10 {
    margin-left: 83.33333333%;
  }

  .ct-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-ct {
    justify-content: flex-start;
    text-align: start;
  }

  .center-ct {
    justify-content: flex-start;
    text-align: center;
  }

  .end-ct {
    justify-content: flex-end;
    text-align: end;
  }

  .top-ct {
    align-items: flex-start;
  }

  .middle-ct {
    align-items: center;
  }

  .bottom-ct {
    align-items: flex-end;
  }

  .around-ct {
    justify-content: space-around;
  }

  .between-ct {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  /* ac버전 column mobile */
  .r {
    margin: 0 -0.25rem;
  }

  .unit,
.cm,
.cm-1,
.cm-2,
.cm-3,
.cm-4,
.cm-5,
.cm-6,
.cm-7,
.cm-8,
.cm-9,
.cm-10,
.cm-11,
.cm-12,
.cm-offset-0,
.cm-offset-1,
.cm-offset-2,
.cm-offset-3,
.cm-offset-4,
.cm-offset-5,
.cm-offset-6,
.cm-offset-7,
.cm-offset-8,
.cm-offset-9,
.cm-offset-10,
.cm-offset-11,
.cm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .cm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .cm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .cm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .cm-3, .unit {
    flex-basis: 25%;
    max-width: 25%;
  }

  .cm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .cm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .cm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .cm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .cm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .cm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .cm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .cm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .cm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .cm-offset-0 {
    margin-left: 0;
  }

  .cm-offset-1 {
    margin-left: 8.33333333%;
  }

  .cm-offset-2 {
    margin-left: 16.6666666%;
  }

  .cm-offset-3 {
    margin-left: 25%;
  }

  .cm-offset-4 {
    margin-left: 33.33333333%;
  }

  .cm-offset-5 {
    margin-left: 41.66666667%;
  }

  .cm-offset-6 {
    margin-left: 50%;
  }

  .cm-offset-7 {
    margin-left: 58.33333333%;
  }

  .cm-offset-8 {
    margin-left: 66.66666667%;
  }

  .cm-offset-9 {
    margin-left: 75%;
  }

  .cm-offset-10 {
    margin-left: 83.33333333%;
  }

  .cm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-cm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-cm {
    justify-content: flex-start;
    text-align: center;
  }

  .end-cm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-cm {
    align-items: flex-start;
  }

  .middle-cm {
    align-items: center;
  }

  .bottom-cm {
    align-items: flex-end;
  }

  .around-cm {
    justify-content: space-around;
  }

  .between-cm {
    justify-content: space-between;
  }
}