@media all and (min-width: 480px) {
    /* 모바일용 미디어 쿼리는 별도로 작성하지 않는다. 만약 웹사이트에 모바일용 미디어 쿼리 조건문을 작성하면 */
    /* 해당 해상도 이하의 기기로 웹사이트를 접속할 경우 조건문 때문에 웹사이트의 구조가 전부 엉망이 되어버리기 때문이다. */
    /* 따라서 반응형 웹을 제작할 때는 모바일용 미디어 쿼리는 별도로 작성하지 않은 상태로 모바일용에 적용될 구조 css 코드와 모든 해상도에서 공통적으로 적용될 CSS 코드를 함께 작성한다. */
}

/* 모바일, 기본 */
#wrap { display:flex;flex-flow:column nowrap;width:80%;margin:0 auto;max-width:1200px; }
#wrap section { box-sizing:border-box; }

/* information area */
.info_section { order:1;width:100%;background-color:#2ecc71;border-bottom:1px solid #39d67c; }
.info_list { display:flex; }
.info_list li { width:25%;text-align:center; }
.info_list li a { display:block;padding:15px 0;padding:0.938rem 0; }
/* // information area */
/* header area */
.header { display:flex;order:2;flex-direction:column;position:relative;width:100%; }
.logo { order:1;width:100%;padding:30px 0;padding:1.875rem 0;font-size:1.188em;font-size:1.188rem;line-height:21px;line-height:1.313rem;text-align:center;text-transform:uppercase;background-color:#2ecc71;text-shadow:0px 1px 1px #25ab5e; }
.nav { order:2;width:100%; }
.gnb li { display:flex;background-color:#2c3e50; }
.gnb li a { width:80%;padding:20px 0;padding:1.250rem 0;font-size:0.938em;font-size:0.938rem;text-indent:20px;text-indent:1.250rem;font-weight:bold;text-transform:uppercase; }
.gnb li span { width:20%;text-indent:-9999px;background:url('../images/s_images/sub_menu_toggle_btn.png') center center no-repeat;cursor:pointer; }
.menu_toggle_btn { display:block;width:30px;width:1.875rem;height:30px;height:1.875rem;position:absolute;top:10px;top:0.625rem;right:10px;right:0.625rem;text-indent:-9999px;background:url('../images/s_images/menu_toggle_btn.png') no-repeat;cursor:pointer; }
/* // header area */

/* // 모바일, 기본 */

/* 태블릿: 767px 이상 */
@media all and (min-width: 767px) {
    #wrap { flex-flow:row wrap; }
}
/* // 태블릿 */

/* PC: 1023px 이상 */
@media all and (min-width: 1023px) {
    #wrap { position:relative;width:90%; }

    /* information area */
    .info_section { order:0;position:absolute;top:30px;top:1.875rem;right:30px;right:1.875rem;z-index:30;width:auto;border-bottom:0; }
    .info_list li { width:auto;margin-left:15px;margin-left:0.625rem; }
    .info_list li a { padding:0; }
    /* // information area */
}
/* // PC */