<!DOCTYPE html>
<html lang="ko"> <!-- html 파일의 언어를 지정한다. 이 언어는 검색할 때 기준이 되는 등의 역할을 한다. -->
    <head>
        <meta charset="utf-8"> <!-- charset을 세팅한다. -->
        
        <link rel="stylesheet" type="text/css" href="../src/css/normalize.css"> <!-- css 기본 세팅 -->
        <link rel="stylesheet" type="text/css" href="../src/css/grid.css"> <!-- responsive web Grid -->
        <link rel="stylesheet" type="text/css" href="../src/css/style.css"> <!-- customized css -->

        <title>type title</title>
    </head>
    <body>

    </body>
</html>