<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <meta charset="utf-8">
        <title>example layout</title>
        
        <link href="example-layout.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <header class="header">
                <h1></h1>
                <nav></nav>
            </header>
            <!-- row1 -->
            <section class="slider_section"></section>
            <section class="gallery_section"></section>
            <section class="rankup_section"></section>
            <!-- // row1 -->
            <!-- row2 -->
            <section class="latest_post_section"></section>
            <section class="popular_post_section"></section>
            <section class="banner_section">
                <div class="banner_box_01"></div>
                <div class="banner_box_02"></div>
            </section>
            <section class="social_section"></section>
            <!-- // row2 -->
            <footer class="footer"></footer>
        </div>
    </body>
</html>