* { margin:0;padding:0; }

/* flex-flow: [flex-direction flex-wrap] */
#wrap { display:flex;flex-flow:row wrap;width:90%;margin:0 auto; }

.header { display:flex;justify-content:flex-end;order:1;position:relative;width:100%; }
.header h1 { position:absolute;top:0;left:0;width:12.5%;height:142px;background-color:#ff6b57; }
.header nav { width:87.5%;min-height:80px;background-color:#ff6bff; }

.slider_section { order:2;width:50%;background-color:#3c90be; }
.gallery_section { order:3;width:27.083%;height:440px;background-color:#f8de73; }
.rankup_section { order:4;width:22.917%;background-color:#00d2a5; }

.latest_post_section { order:5;width:30%;background-color:#9cabe4; }
.popular_post_section { order:6;width:30%;background-color:#d76817; }
.banner_section { display:flex;order:7;flex-flow:column nowrap;width:22.9167%; }
.banner_section div { flex:1 1 0; }
.banner_section div.banner_box_01 { background-color:#0175bb; }
.banner_section div.banner_box_02 { background-color:#1261c9; }
.social_section { order:8;width:17.0833%;height:270px;background-color:#fe6eda; }

.footer { order:9;width:100%;height:94px;background-color:#474747; }