#wrap {
    margin: 0 auto;
    width: 1280px;
}

#header {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid skyblue;
}

#container {
    overflow: hidden;
    width: 100%;
}
#leftSideNav {
    float: left;
    width: 20%;
    height: 300px;
    border: 1px solid red;
}
#contentSection {
    float: right;
    width: 75%;
    height:700px;
    border: 1px solid greenyellow;
}


#footer {
    width: 100%;
    height: 150px;;
    background-color: #fff;
    border:1px solid black;
}

.backgroundImg {
    background-image: linear-gradient(rgba(138, 138, 138, 0.549), rgba(0, 0, 0, 0.7)), url("hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}